.DS_Store
.aider*

/modules/component-tmux/dot-tmux/plugins/
/modules/component-ssh/dot-ssh/id_*
/modules/component-ssh/dot-ssh/*.pub
/modules/component-ssh/dot-ssh/known_hosts*
/modules/component-terminfo/dot-terminfo/[0-9A-Za-z][0-9A-Za-z]/
