[Unit]
Description=kanshi
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/kanshi
Restart=on-failure
StartLimitIntervalSec=10
StartLimitBurst=10

[Install]
WantedBy=sway-session.target
