# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Brandon Sorensen
	email = Brandon.Sorensen@trendminer.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEO6d74Sybz12gqH5O1fAAJ5F1wAJye9Irj13P2F4mFs
[core]
	askpass = git-gui--askpass
	autocrlf = input
	editor = nvim
	excludesfile = /Users/Brandon.Sorensen/.gitignore_global
	sshCommand = /usr/bin/ssh -i /Users/Brandon.Sorensen/.ssh/id_gh_ed25519
	pager = delta
	excludesfile = $HOME/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
	side-by-side = true
	line-numbers = true
	syntax-theme = GitHub
[push]
	autoSetupRemote = true
[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"
