# This is Git's per-user configuration file.
[user]
	name = Brandon Sorensen
	email = Brandon.Sorensen@trendminer.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEO6d74Sybz12gqH5O1fAAJ5F1wAJye9Irj13P2F4mFs
[core]
	askpass = git-gui--askpass
	autocrlf = input
	editor = nvim
	sshCommand = /usr/bin/ssh -i /Users/Brandon.Sorensen/.ssh/id_gh_ed25519
	pager = delta --features "$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode)"
	excludesfile = $HOME/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[interactive]
    diffFilter = delta --color-only
[alias]
	reword = commit --amend
	ac = !git add -A && git commit
[delta]
	navigate = true  # use n and N to move between diff sections
	side-by-side = true
	line-numbers = true
[push]
	autoSetupRemote = true
[delta "light-mode"]
	light = true
	syntax-theme = GitHub

[delta "dark-mode"]
	light = false
	syntax-theme = Nord
[merge]
	conflictstyle = zdiff3
[diff]
	tool = nvimdiff
