# This is Git's per-user configuration file.
[user]
	name = Brandon Sorensen
	email = brandon@brandonsorensen.com
[core]
	askpass = git-gui--askpass
	autocrlf = input
	editor = nvim
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	tool = nvimdiff
