@import url(chrome/window_control_placeholder_support.css);
@import url(chrome/autohide_sidebar.css);
@import url(chrome/hide_tabs_toolbar_osx.css);

#sidebar-box{
	--uc-sidebar-width: 45px;
	--uc-autohide-sidebar-delay: 300ms;
}

#sidebar-header,
#sidebar{
	transition: 115ms linear var(--uc-autohide-sidebar-delay) !important;
}

#sidebar-box:hover > #sidebar-header,
#sidebar-box:hover > #sidebar{
	box-shadow: -1px 15px 10px 0px #888888;
}

#urlbar-container, #search-container {
	padding-block: 10px !important;
}

.titlebar-buttonbox-container {
	padding-top: 20px;
	padding-left: 7px
}
