[Unit]
Description=Waybar
PartOf=sway-session.target
After=sway-session.target
StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
ExecStart=/bin/sh -c 'exec /usr/bin/waybar --style "$HOME/.config/waybar/style-$(darkman get).css"'
Restart=on-failure
RestartSec=1

[Install]
WantedBy=sway-session.target
